@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper,
    IList<TestBlog.Core.Objects.Tag> tags)
{
    foreach(var tag in tags)
    {
        <div class="tags-div">
            @TestBlog.ActionLinkExtensions.TagLink(htmlHelper, tag);
        </div>
    }
}
